<style>

</style>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-8 ">
            <h1>TIM String Producer</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 ">
            <p>Welcome to my TIM string producer. <br/> I decided that I needed this after playing space engineers with Taleden's inventory manager for a few hours. 
            With this you can feed in the blocks that you need to create and it will create the labels needed by TIM in order to move the items you need into the place that you want them.
            Hopefully you'll find this tool as useful as I do.</p>
        </div>
    </div>
    <form action="">
        <div class="row justify-content-center">
            <div class="col-4">
                <input type="text" class="form-control" id="searchBox">
            </div>
            <button class="btn btn-primary" id="searchButton">Search</button>
        </div>
        {{#each componentList}}
        <div class="row justify-content-center my-3" data-search-filter="{{Block}}">
            <div class="card col-5" >
                <div class="card-title">
                    <h5>
                        {{Block}}
                    </h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="{{Block}}">Quantity</label>
                        <input type="number" class="form-control" id="{{Block}}">
                    </div>
                    {{#each Components}}
                        {{#if this.Quantity}}
                            <sub>{{this.Name}} : {{this.Quantity}}</sub>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
        {{/each}}
    </form>
</div>

<script>
    $(document).ready(()=>{
        $('#searchButton').click(event=>{
            event.preventDefault();
            let cards = $('[data-search-filter]').toArray();
            cards.forEach(card=>{
                if (card.dataset.searchFilter.toLowerCase().indexOf($('#searchBox').val().toLowerCase()) < 0) {
                    $(card).hide();
                } else {
                    $(card).show();
                }
            })
        })
    })
</script>